<!-- Show all of story's sections-->
<hr>
<br/>
<h1>{{secCtrl}}</h1>
Filter: <input type="text" ng-model="sectionFilter.title"/>
<br/>
<!-- on click, reveals form -->
<button ng-click="secCtrl.toggleCreateForm()">Start a new section</button>
<form name="sectionForm" class="css-form" ng-show="secCtrl.createFormShown">
  <input ng-model="secCtrl.currentSection.title" type="text" placeholder="Title"/>
  <textarea ng-model="secCtrl.currentSection.overview"placeholder="Overview"></textarea>
  <button ng-click="secCtrl.create()">Create</button>
</form>
<div ng-repeat="section in secCtrl.sections | filter: sectionFilter">
<!-- order by most recently updated here's the syntax from custApp:  | orderBy:custCtrl.sortBy:custCtrl.reverse -->
  <div>
    <a ng-hide="story.editForm" href="#/write/{{section.id}}">
    {{section.title}}
    {{section.overview}}
    {{section.updated | date}}
    </a>
    <br>
    <button ng-click="secCtrl.toggleUpdateForm(section.id)">Edit</button>
      <form name="storyForm" class="css-form" ng-show="section.editForm">
        <input ng-model="section.title" type="text"/> <!-- ideally this would be populated with current title -->
        <input ng-model="story.overview" type="text"/> <!-- this def should be populated -->
        <button ng-click="storiesCtrl.update(story.id)">Update</button>
      </form>
    <button ng-click="secCtrl.delete()">Delete</button> <!-- maybe should get 'are you sure?' -->
  </div>
</div>

<br/>
<span>Total sections: {{secCtrl.sections.length}}</span>
<br/>
<br/>
<footer>Version: {{ appSettings.version }}</footer>
