<!-- Show all of user's stories -->
<hr>
<br/>
Filter: <input type="text" ng-model="storiesFilter.title"/>
<br/>
<!-- on click, reveals form -->
<button ng-model="showCreate">Start a new story</button>
<form name="storyForm" class="css-form" ng-show="showCreate">
  <input type="text" placeholder="Title"/>
  <button ng-click="storiesCtrl.create()">Create</button>
</form>
<div ng-repeat="story in storiesCtrl.stories | filter: storiesFilter">
<!-- order by most recently updated - but would need most recently updated SECTION or IMAGE, not story here's the syntax from custApp:  | orderBy:custCtrl.sortBy:custCtrl.reverse -->
  <div>
    <a href="#/story/{{story.id}}"> <!-- or ng-click="storiesCtrl.getStory({{story.id}})" -->
    {{story.title}}
    {{story.updated | date}}
    <br>
    <button ng-model="showUpdate">Edit title</button>
      <form name="storyForm" class="css-form" ng-show="showUpdate">
        <input type="text" placeholder="Title"/> <!-- ideally this would be populated with current title -->
        <button ng-click="storiesCtrl.update()">Update</button>
      </form>
    <button ng-click="storiesCtrl.delete()">Delete</button> <!-- maybe should get 'are you sure?' -->
    </a>
  </div>
</div>

<br/>
<span>Total stories: {{storiesCtrl.stories.length}}</span>
<br/>
<br/>
<footer>Version: {{ appSettings.version }}</footer>
