<h2 id="section-heading">{{writeCtrl.story.title}} </h2>
<h4>{{writeCtrl.title}}</h4>
<hr>

<div id="drawing-board" class="row">
  <form name="drawForm" class="col-md-8 col-md-offset-2" id="draw-form" ng-show="writeCtrl.drawFormShown">
    <div class="tools">
    Choose color:
    <a href="#colors_sketch" data-tool="eraser" id="eraser" class="btn btn-default">Erase canvas</a>
    </div>
    <canvas id="colors_sketch" width="800" height="300"></canvas>
    <script type="text/javascript">
      $(function() {
        $.each(['#f00', '#ff0', '#0f0', '#0ff', '#00f', '#f0f', '#000', '#fff'], function() {
          $('.tools').append("<a href='#colors_sketch' data-tool='marker' data-color='" + this + "' style=''><button class='color-btn' style='background: " + this + ";'></button></a> ");
        });
        $.each([3, 5, 10, 15], function() {
          $('#colors_demo .tools').append("<a href='#colors_sketch' data-size='" + this + "' style='background: #ccc'>" + this + "</a> ");
        });
        $('#colors_sketch').sketch();
      });
    </script>
    <br>
    <button ng-click="writeCtrl.createDrawing()" class="btn btn-default">Save drawing</button>
    <a href="#colors_sketch" data-download="png" class="btn btn-default">Download drawing</a>
    <button ng-click="writeCtrl.toggleDrawForm()" class="btn btn-default">Hide canvas</button>
  </form>
</div>

<div class="row" id="write-row">
  <div id="prose-div" class="col-md-7">
    <form name="proseForm">
      <small> This text area can be resized to fit your writing needs.</small>
      <textarea id="prose-text" rows="10" cols="80" ng-model="writeCtrl.prose"></textarea>
      <br>
      <button ng-click="writeCtrl.update(writeCtrl.sectionId)" class="btn btn-default">Save</button>
      <a href="#/story/{{writeCtrl.story.sections[0].StoryId}}" class="btn btn-default">Back to {{writeCtrl.story.title}}</a>
    </form>
  </div>

  <div id="image-div" class="col-md-4 col-md-offset-1">
    Your images:
    <div ng-repeat="image in writeCtrl.images">
      <div class="each-image">
        <img ng-src="{{image.location}}" ng-class="{ 'show-image': image.shown, 'thumbnail': !image.shown }" ng-click="writeCtrl.toggleImage(image.id)"/>
      </div>
    </div>

    <div id="initiate-image">
      <br>
      <button ng-click="writeCtrl.toggleUploadForm()" class="btn btn-default">Upload an image</button>
      <button ng-click="writeCtrl.toggleDrawForm()" class="btn btn-default">Draw something!</button>
    </div>

    <form name="imageUploadForm" id="upload-form" ng-show="writeCtrl.uploadFormShown">
      <input type="file" file-input-model="writeCtrl.image">
      <button ng-click="writeCtrl.create(writeCtrl.image)" class="btn btn-default">Save image</button>
    </form>

    <img id="image-preview" ng-show="writeCtrl.image" ng-src="{{writeCtrl.image}}">

  </div>

</div>
