/* WELCOME PAGE */
.jumbotron{
  background-image: url('../images/typewriter.jpg');
  background-size: cover;
  text-align: center;
}

#welcome-text{
  background-color: rgba(242,230,182,0.7);
  width: 60%;
  margin: 0 auto;
  margin-top: 400px;
}

#how-typewriter{
  text-align: center;
  padding-bottom: 50px;
  line-height: 200%;
}

#login, #signup{
  border: 2px solid black;
  width: 300px;
  text-align: center;
}

/* WRITE PAGE */
#image-div {
  position: relative;
  float: right;
}
canvas {
  border: 5px solid black;
}

.thumbnail {
  width: 50px;
}

.show-image {
  width: 400px;
}
