body{
  font-family: 'Quattrocento', serif;
}
/* WELCOME PAGE */
.jumbotron{
  background-image: url('../images/typewriter.jpg');
  background-size: cover;
  text-align: center;
}

#welcome-text{
  background-color: rgba(242,230,182,0.7);
  width: 60%;
  margin: 0 auto;
  margin-top: 400px;
}

#welcome-text button {
  margin: 10px 0px;
}

#how-typewriter{
  text-align: center;
  padding-bottom: 50px;
  line-height: 200%;
}

.glyphicon{
  font-size: 3em;
  margin-top: 15px;
  margin-right: 20px;
  background-color: rgba(242,230,182,1);
  padding: 10px;
  border-radius: 50px;
}

#login, #signup{
  border: 4px solid black;
  width: 300px;
  text-align: center;
}

#authentication{
  background-color: rgba(242,230,182,1);
  padding: 50px;
}

/* STORIES PAGE */
#stories-partial{
  text-align: center;
}

#stories-partial h2{
  padding-bottom: 20px;
}

.each-story{
  height: 220px;
  width: 200px;
  border: 2px solid black;
  float: left;
  margin: 50px;
  font-size: 24px;
}


/* WRITE PAGE */
#image-div {
  position: relative;
  float: right;
}
canvas {
  border: 5px solid black;
}

.thumbnail {
  width: 50px;
}

.show-image {
  width: 400px;
}
